body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  border-bottom: 2px solid #dfdfdf;
  justify-content: space-between;
}
.header h1 {
  cursor: default;
  justify-self: left;
  font-size: 24px;
  margin: 10px;
}

.header #cooldiv {
  width: 145px;
}

.header button {
  width: 48px;
  background-color: white;
  border: none;
  cursor: pointer;
  height: 100%;
  font-size: 20px;
}

.header button:hover {
  background-color: #ebebeb;
}

/* Main part*/
.main{
  display:flex;
  flex-direction: row;
  height: 100%;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}
.game .row {
  display: flex;
  flex-direction: row;
}

.game .letters {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: default;
}

.game .letters.misplaced {
  border: 3px solid #c9b458;
  background-color: #c9b458;
  color: #ffffff;
}
.game .letters.attempted {
  border: 3px solid #878a8c;
  color: black;
}
.game .letters.wrong {
  border: 3px solid #787c7e;
  background-color: #787c7e;
  color: #ffffff;
}
.game .letters.correct {
  border: 3px solid #6aaa64;
  background-color: #6aaa64;
  color: #ffffff;
}

.game button {
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  margin: 50px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.game #cooldiv2{
  display:none;
  height:58.5px;
}

.game #hint{
  display: none;
  width:100%;
  background-color: salmon;
  padding: 20px 0px;
  justify-content: center;
}
/* How To Play */
#how-to-play{
  display:flex;
  flex-direction: column;
  border-right: 2px solid #dfdfdf;
  padding: 50px 0px;
  text-align: left;
}

#how-to-play li,#how-to-play p{
  align-self: flex-start;
  padding: 5px 20px;
}
/* Footer */
.footer {
  border-top: 2px solid #dfdfdf;
  display: flex;
  justify-content: center;
  font-weight: bold;
}