
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header{
  display: flex;
  border-bottom: 2px solid #dfdfdf;
  justify-content: space-between;
}
.header h1{
  justify-self: left;
  font-size: 40px;
  margin: 10px;
}

.header .cooldiv{
  width:239px;
}

.header button{
  width:76px;
  background-color: white;
  border: none;
  cursor: pointer;
  height:100%;
  font-size: 20px;
}

.header button:hover{
  background-color:#ebebeb;
}

/* Main part*/
.main{
  display: flex;
  overflow: auto;
  flex: 10;
  flex-direction: column;
  align-items: center;
}
.main .row{
  display:flex;
  flex-direction: row;
}

.main .letters{
  border: 3px solid #d3d6da;
  width:60px;
  height:60px;
  margin: 5px;
}

.main button{
  border:none;
  background-color: #4CAF50;
  color:white;
  border-radius: 5px;
  margin:50px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
/* Footer */
.footer{
  border-top: 2px solid #dfdfdf;
  display: flex;
  justify-content: center;
  font-weight: bold;
}